<p id="notice"><%= notice %></p>

<h1>Lista de Supermercados</h1>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @supermarkets.each do |superm| %>
    <tr>
      <td><%= superm.name %></td>
      <td><%= superm.direction %></td>
      <td><%= link_to 'Ver', superm %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_supermarket_path do %>
  <button class="btn btn-info">Nuevo Supermercado</button>
<% end %>