<nav class="navbar navbar-dark bg-aipota navbar-expand-sm fixed-top py-4 py-sm-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--Brand and icon-->
  <div class="col-6 col-sm-3">
    <ul class="navbar-nav">
      <div class="container d-flex justify-content-start align-items-end">
        <li class="nav-item px-sm-2">
          <%= link_to 'Aipota Delivery', root_path, :class => 'h3 text-white text-center d-none d-sm-inline' %>
          <%= link_to 'Aipota Delivery', root_path, :class => 'h6 text-white text-left d-inline d-sm-none' %>
        </li>
      </div>
    </ul>
  </div>
  <!--Utilities buttons-->
  <div class="col-4 col-sm-7 px-0">
    <ul class="navbar-nav">
      <div class="container d-flex justify-content-end px-0">
        <div class="row">
          <!--Messages section-->
          <li class="nav-item px-3">
            <%= link_to orders_path, {
              class: 'nav-link'
            } do %>
              <i class="bi bi-bell"></i>
              <p class="d-none d-lg-inline font-weight-bold">Mensaje</p>
            <% end %>
          </li>
          <!--Account section-->
          <li class="nav-item px-3">
            <a href="#" class="nav-link">
              <i class="bi bi-person"></i>
              <p class="d-none d-lg-inline font-weight-bold">Cuenta</p>
            </a>
          </li>
          <!--Max budget section-->
          <li class="nav-item px-3">
            <%= link_to supermarkets_maximum_budget_path, {
              remote: true,
              class: 'nav-link'
            } do %>
              <i class="bi bi-calculator-fill"></i>
              <p class="d-none d-lg-inline font-weight-bold">Presupuesto</p>
            <% end %>
          </li>
        </div>
      </div>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-sm-4">
        <i class="bi bi-graph-up nav-link">
          <%= link_to 'Reportes', orders_index_received_path, :class => 'nav-link d-inline d-lg-inline font-weight-bold' %>
        </i>
      </li>
    </ul>
  </div>
</nav>
<div id="maximum-budget-modal-content"></div>