<div class="container-fluid">
  <%= render partial: "navbar" %>
</div>
<!--div id="my-background-initial">
  <button type="button" class="btn my-button-primary text-white">Guardar</button>
</div-->
<div id="my-background-principal" class="mt-5 pt-5 mt-sm-5 pt-sm-5 text-white">
    <div class="row justify-content-center pt-sm-4 pt-2">
      <div class="col-sm-12 col-3 text-center"><%=image_tag("logo_aipota_delivery.png", size: "100x100")%></div>
      <div class="col-sm-3 col-7 text-center pt-sm-4">&nbsp&nbsp&nbsp&nbspTe damos la bienvenida a nuestra aplicación, donde podras gestionar las compras de manera fácil y rápida desde cualquier lugar.</div>
    </div>

  <br>
  <div class="row justify-content-center pt-sm-5">
    <div class="col-sm-3 pb-4">
      <!--CLIENTE-->
      <div class="container d-flex justify-content-center">
        <div class="section-initial text-center">
          <br>

          <h2>Cliente</h2>
          <hr class="sub-section">

          <div class="container">
            <div class="row justify-content-center">
              <div class="col-4 text-center">1. Elige un negocio</div>
              <div class="col-4 text-center"><%=image_tag("elige_negocio.png", size: "80x80")%></div>
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="col-4 text-center">2. Elige los productos</div>
              <div class="col-4 text-center"><%=image_tag("elige_productos.png", size: "80x80")%></div>
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="col-4 text-center">3. Recibe el pedido</div>
              <div class="col-4 text-center"><%=image_tag("recibe_delivery.png", size: "80x80")%></div>
            </div>
            <br><br>
          </div>

          <button type="button" class="btn my-button text-white">Ingresar</button>

          <br><br>
        </div>
      </div>
      <!--FIN CLIENTE-->
    </div>

    <div class="col-sm-3 pb-4">
      <!--NEGOCIO-->
      <div class="container d-flex justify-content-center">
        <div class="section-initial text-center">
          <br>

          <h2>Negocio</h2>
          <hr class="sub-section">

          <div class="container">
            <div class="row justify-content-center">
              <div class="col-4 text-center">1. Recibe el pedido</div>
              <div class="col-4 text-center"><%=image_tag("recibe_pedido.png", size: "80x80")%></div>
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="col-4 text-center">2. Confirma los productos</div>
              <div class="col-4 text-center"><%=image_tag("confirma_productos.png", size: "80x80")%></div>
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="col-4 text-center">3. Realiza el delivery</div>
              <div class="col-4 text-center"><%=image_tag("realiza_delivery.png", size: "80x80")%></div>
            </div>
            <br><br>
          </div>

          <button type="button" class="btn my-button text-white">Ingresar</button>

          <br><br>
        </div>
      </div>
      <!--FIN NEGOCIO-->
    </div>
  </div>
</div>