<div class="modal fade" id="filter-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-blue">Filtros</h5>
      </div>
      <%= form_for_filterrific filterrific do |f| %>
        <div class="modal-body">
          <!--CONTENIDO-->
          <div class="form-group col-12">
            <div class="row has-search d-flex align-items-center results-block">
              <div class="col">
                <div class="row">
                  <label class="text-blue">Por Negocio</label>
                  <%= f.text_field :by_supermarket, class: 'form-control', placeholder: 'Busca un super',
                                   id: 'main-search-input' %>
                </div>
                <div class="row mt-3">
                  <label class="text-blue">Por Fecha</label>
                </div>
                <div class="row">
                  <div class="col pl-0 p-sm-0">
                    <label class="text-black">Desde</label>
                    <%= f.date_field :date_from, class: 'form-control' %>
                    <small id="dateHelp" class="form-text text-muted d-inline d-sm-none">Ej: 01/01/2021</small>
                  </div>
                  <div class="col pl-2 pr-0 p-sm-0">
                    <label class="text-black">Hasta</label>
                    <%= f.date_field :date_to, class: 'form-control' %>
                    <small id="dateHelp" class="form-text text-muted d-inline d-sm-none">Ej: 29/01/2021</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn my-button-primary text-color-secondary mx-1" data-dismiss="modal">Cancelar</button>
          <%= f.submit 'Filtrar', :class => 'btn btn-aipota-primary my-button-primary text-white mx-1' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

