<div class="modal fade" id="filter-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content" id="cart-modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-blue">Filtros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for_filterrific filterrific do |f| %>
      <div class="modal-body">
        <!--CONTENIDO-->
        <div class="form-group col-12">
          <div class="row has-search d-flex align-items-center results-block">
            <%= f.hidden_field :supermarket_id, value: supermarket.id %>
            <% filterrific.select_options[:with_category].each do |c| %>
              <div class="col-md-12">
                <%= check_box_tag("filterrific[with_category][]",c[1], last_checked.include?(c[1])) %>
                <%= c[0] %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn my-button-primary text-color-secondary mx-1" data-dismiss="modal">Cancelar</button>
        <%= f.submit 'Filtrar', :class=>'btn btn-aipota-primary my-button-primary text-white mx-1' %>
      </div>
      <% end %>
    </div>
  </div>
</div>