<div class="container">
  <%= form_for_filterrific(@filterrific, url: products_path) do |f| %>
    <form>
      <div class="row">
        <div class="col-10 col-sm-11 px-0">
          <%= f.text_field :search_query, class: 'form-control', placeholder: 'Busca un producto',
                           id: 'main-search-input' %>
          <%= f.hidden_field :supermarket_id, value: supermarket.id %>
          <% last_checked.each do |category| %>
            <%= f.hidden_field :with_category, :multiple => true, :value => category %>
          <% end %>
        </div>
        <div class="col-2 col-sm-1 px-0">
          <%= button_tag class: "btn btn-block btn-aipota-primary", id: "main-search-button" do %>
            <i class="bi bi-search text-white"></i>
          <% end %>
        </div>
      </div>
    </form>
  <% end %>
</div>