<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <%= render partial: "welcome/navbar" %>
</div>
<!--FONDO DE LA APLICACION-->
<div class="my-background">
  <!--PADDING PARA QUE EL CONTENIDO NO SE OCULTE DEBAJO DEL NAVBAR-->
  <div class="mt-5 pt-5 mt-sm-5 pt-sm-5 container text-center">
    <h2 class="text-blue "><%= @supermarket.name %></h2>
    <div class="row pb-5">
      <% @products.each do |product| %>
        <div class="col-6 col-sm-3">
          <div class="container">
            <div class="bg-white pb-sm-3 pt-sm-3 pt-2 pb-2 rounded"><%= image_tag("mayonesa.png", size: "73x74") %></div>
            <div class="pb-1" style="text-align: right">
              <p class="text-blue" id="productPrice-<%= product.id %>"><%= product.price %> Gs.</p></div>
            <div style="text-align: left">
              <p style="max-height: 30px" id="productDescription-<%= product.id %>"><%= product.description %></p></div>
            <div class="container pb-1 pt-1">
              <div class="row">
                <button
                  class="btn btn-sm col-3 col-sm-2 border-start border-dark subQuantityButton"
                  style="background-color: #e9ecef;"
                  id="subButton-<%= product.id %>"
                >-
                </button>
                <span
                  class="col-6 col-sm-8 border-top border-bottom border-dark bg-white"
                  id="quantityLabel-<%= product.id %>"
                >1 Un.</span>
                <button
                  class="btn btn-sm col-3 col-sm-2 border border-dark addQuantityButton"
                  style="background-color: #e9ecef;"
                  id="addButton-<%= product.id %>"
                >+
                </button>
              </div>
            </div>
            <button
              class="btn btn-aipota-primary btn-sm text-white btn-block addItem" id="addItemButton-<%= product.id %>">
              Agregar<i class="bi bi-cart4"></i>
            </button>
          </div>
          <br><br>
        </div>
      <% end %>
    </div>
    <div class="row justify-content-center fixed-bottom pb-2 my-background2">
      <div class="col-7 col-sm-6 pt-4" style="text-align: left;">
        <h6 style="font-size: 14px;">Presupuesto máximo</h6>
        <%= link_to supermarkets_maximum_budget_path, {
          remote: true
        } do %>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-aipota" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <% end %>
      </div>
      <div class="col-3 col-sm-1 pt-2">
        <!--TODO no funciona el style porque se esta mostrando inline,habria que mostrar display-block o display-inline-block-->
        <%= link_to products_cart_path, {
          remote: true,
          class: 'btn-lg btn-aipota-primary text-white rounded-circle border border-white align-middle',
          'style' => 'width: 73px; height: 73px',
          id: 'cart-button'
        } do %>
          <i class="bi bi-cart4" style="font-size: 32px;"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--Place for cart modal-->
<div id="cart-modal-content"></div>
